.streamlit/secrets.toml
**/.streamlit/secrets.toml
**/.streamlit/migration_setup.toml
__pycache__/
*.pyc
**/log/
.cache/
tmp/
generated-image.png
10.Gp2Red/setup/build/
10.Gp2Red/setup/dist/
10.Gp2Red/setup/__pycache__/
10.Gp2Red/setup/wheels/
