[oracle]
user = ""
password = ""
host = ""
port = 1521
service_name = ""
owner = "PCERP_RENTALAPP_MIG"

[mssql]
host = ""
port = 1433
user = ""
password = ""
driver = "ODBC Driver 18 for SQL Server"

[greenplum]
host = ""
port = 5432
database = ""
user = ""
password = ""
sslmode = "require"
connect_timeout = 15
default_schema = "public"

[redshift_sql]
host = ""
port = 5439
database = ""
user = ""
password = ""
sslmode = "require"
connect_timeout = 15
default_schema = "public"

[migration_metadata]
schema = "public"
table = "TB_MIG_TABLE_INFO"

[layout_history]
schema = "public"
table = "TB_TABLE_LAYOUT_GP"
